<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy;YelpCamp 2022</span>
    <span class="text-muted d-flex">Made by Elena Cherpakova</span>

  </div>
</footer>
